<a href="https://colab.research.google.com/github/nurfnick/Data_Viz/blob/main/05_SQL_SubQuery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL Sub-Queries

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

I am still gonna keep playing around with liquor data.  I want to add some complications into our lives and do somethings that will require multiple tables to be generated.  We will do this all on the SQL server so there will be a sub-Query that we might not see.  Let's see it in action!

First the table to remind us what is in it.

In [2]:
%%bigquery --project pic-math
SELECT *
FROM `bigquery-public-data.iowa_liquor_sales.sales`
LIMIT 5

  invoice_and_item_number        date  ... volume_sold_liters volume_sold_gallons
0         INV-37596300067  2021-06-17  ...              660.0              174.35
1         INV-19930800010  2019-06-11  ...               48.0               12.68
2         INV-13427700191  2018-07-24  ...                4.0                1.06
3            S06959800006  2012-08-07  ...                5.0                1.32
4            S13503000052  2013-07-23  ...                4.0                1.06

[5 rows x 24 columns]

Let's ask a simple question, what is the most expensive bottle is in each category.

In [3]:
%%bigquery --project pic-math
SELECT category_name, MAX(state_bottle_retail) as max_state_bottle_retail
FROM `bigquery-public-data.iowa_liquor_sales.sales`
GROUP BY category_name

                       category_name  max_state_bottle_retail
0     Single Barrel Bourbon Whiskies                   192.30
1                         Triple Sec                    18.50
2                     GRAPE SCHNAPPS                    11.81
3                 Single Malt Scotch                  1275.00
4                    Coffee Liqueurs                    39.72
..                               ...                      ...
131  Temporary  & Specialty Packages                    13.11
132          IMPORTED VODKA - CHERRY                    10.58
133                Imported Whiskies                   122.76
134                American Whiskies                    28.50
135   Delisted / Special Order Items                    27.75

[136 rows x 2 columns]

This was not too hard.  Let's be mean though and ask for the second most expensive bottle of "DISTILLED SPIRITS SPECIALTY".  Here is where the sub-query is going to come into play.  We don't want to include the most expensive so instead we remove those from the computation.

In [4]:
%%bigquery --project pic-math

SELECT MAX(state_bottle_retail) as max_state_bottle_retail
FROM `bigquery-public-data.iowa_liquor_sales.sales`
WHERE category_name = "DISTILLED SPIRITS SPECIALTY"

   max_state_bottle_retail
0                   112.01

In [11]:
%%bigquery --project pic-math
SELECT MAX(state_bottle_retail) as second_most_expensive
FROM `bigquery-public-data.iowa_liquor_sales.sales`
WHERE state_bottle_retail != (SELECT MAX(state_bottle_retail) as max_state_bottle_retail FROM `bigquery-public-data.iowa_liquor_sales.sales` WHERE category_name = "DISTILLED SPIRITS SPECIALTY")
      AND category_name = "DISTILLED SPIRITS SPECIALTY"

   second_most_expensive
0                  96.51

BTW, this is not nessecarily the way I would have done this.  (Rank = 2 might have worked well (still would have required a sub-query though!)

Let's try another.  What if we want to find how many bottles in a category are over $100.

In [6]:
%%bigquery --project pic-math

SELECT category_name, COUNTIF(state_bottle_retail>100) as number_bottles_over_benjamin
FROM `bigquery-public-data.iowa_liquor_sales.sales`
GROUP BY category_name
Order BY number_bottles_over_benjamin DESC

                       category_name  number_bottles_over_benjamin
0                    Scotch Whiskies                          4165
1                 Single Malt Scotch                          2769
2                  Imported Brandies                          2704
3                 100% Agave Tequila                          2484
4                    SCOTCH WHISKIES                          2242
..                               ...                           ...
131          IMPORTED VODKA - CHERRY                             0
132  Temporary  & Specialty Packages                             0
133                    Imported Gins                             0
134                American Whiskies                             0
135   Delisted / Special Order Items                             0

[136 rows x 2 columns]

I think the book I am working from pre-dates `COUNTIF`.  Let me show you a sub-query solution.

I'll make a column asking if the bottle is over $100.

In [7]:
%%bigquery --project pic-math

SELECT *, (CASE WHEN state_bottle_retail >100 THEN 1 ELSE 0 END) as over_benjamin
FROM `bigquery-public-data.iowa_liquor_sales.sales`
LIMIT 10

  invoice_and_item_number        date  ... volume_sold_gallons over_benjamin
0         INV-37606800019  2021-06-18  ...                0.52             0
1         INV-19821600132  2019-06-05  ...                0.31             0
2         INV-20266400001  2019-06-27  ...                3.56             0
3         INV-13387900079  2018-07-23  ...               47.55             0
4         INV-13998900081  2018-08-22  ...               31.70             0
5            S21846500003  2014-10-20  ...                5.94             0
6            S26037800001  2015-06-09  ...               97.08             0
7         INV-06908200123  2017-08-28  ...                1.39             0
8         INV-20029700068  2019-06-17  ...                0.52             0
9         INV-24809400002  2020-01-27  ...               45.17             0

[10 rows x 25 columns]

The new column is at the end.  I included the `LIMIT` as to reduce computation time for displaying.  I won't use that in the subquery here.

In [8]:
%%bigquery --project pic-math

SELECT category_name, SUM(over_benjamin) as number_bottles_over_benjamin
FROM (SELECT *, (CASE WHEN state_bottle_retail >100 THEN 1 ELSE 0 END) as over_benjamin
      FROM `bigquery-public-data.iowa_liquor_sales.sales`)
GROUP BY category_name
ORDER BY number_bottles_over_benjamin DESC

                      category_name  number_bottles_over_benjamin
0                   Scotch Whiskies                          4165
1                Single Malt Scotch                          2769
2                 Imported Brandies                          2704
3                100% Agave Tequila                          2484
4                   SCOTCH WHISKIES                          2242
..                              ...                           ...
131         Imported Flavored Vodka                             0
132     American Cordials & Liqueur                             0
133                   Imported Gins                             0
134               American Whiskies                             0
135  Delisted / Special Order Items                             0

[136 rows x 2 columns]

Well not really sure which is faster but you get to see the `CASE` command too for adding a column.  By the way this is sometimes called an indicator variable.  When something happens (bottle over $100) you get 1 and 0 otherwise.  This is an excellent technique that we will revisist again!

Let's add some more.  Let's get the percentage of bottles over a benjamin.

In [9]:
%%bigquery --project pic-math

SELECT category_name, COUNTIF(state_bottle_retail>100) as number_bottles_over_benjamin, COUNT(*) as number_of_bottles
FROM `bigquery-public-data.iowa_liquor_sales.sales`
GROUP BY category_name
Order BY number_bottles_over_benjamin DESC

                      category_name  ...  number_of_bottles
0                   Scotch Whiskies  ...             208608
1                Single Malt Scotch  ...             111449
2                 Imported Brandies  ...             271252
3                100% Agave Tequila  ...             376151
4                   SCOTCH WHISKIES  ...             199770
..                              ...  ...                ...
131         Imported Flavored Vodka  ...             255055
132     American Cordials & Liqueur  ...             309262
133                   Imported Gins  ...                 12
134  Delisted / Special Order Items  ...                  1
135               American Whiskies  ...                  1

[136 rows x 3 columns]

Now I cannot just divide those two columns because they don't exist yet!

In [10]:
%%bigquery --project pic-math

SELECT category_name, number_bottles_over_benjamin, number_of_bottles, number_bottles_over_benjamin/number_of_bottles as percent_over_benjamin
FROM (SELECT category_name, COUNTIF(state_bottle_retail>100) as number_bottles_over_benjamin, COUNT(*) as number_of_bottles
      FROM `bigquery-public-data.iowa_liquor_sales.sales`
      GROUP BY category_name)
GROUP BY category_name, number_bottles_over_benjamin, number_of_bottles
ORDER BY percent_over_benjamin DESC

                      category_name  ...  percent_over_benjamin
0        HIGH PROOF BEER - AMERICAN  ...               1.000000
1                 Imported Whiskies  ...               0.300000
2                   JAPANESE WHISKY  ...               0.108392
3          Iowa Distillery Whiskies  ...               0.064516
4               SCHNAPPS - IMPORTED  ...               0.058824
..                              ...  ...                    ...
131         American Flavored Vodka  ...               0.000000
132         Imported Flavored Vodka  ...               0.000000
133     American Cordials & Liqueur  ...               0.000000
134                   Imported Gins  ...               0.000000
135  Delisted / Special Order Items  ...               0.000000

[136 rows x 4 columns]

I got here and realized this is not really the number of bottles.  How might you fix that so that this number represents the actual number of bottles sold?

## Your Turn

Using the dataset 'austin_bikeshare.bikeshare_trips' answer the following questions:

1. What was the second most popular starting station?
2. How many trips lasted over an hour and were a round trip (started and stopped at the same station)?