<a href="https://colab.research.google.com/github/nurfnick/Data_Viz/blob/main/05_SQL_SubQuery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL Sub-Queries

In [2]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

I am still gonna keep playing around with liquor data

In [2]:
%%bigquery --project pic-math
SELECT *
FROM `bigquery-public-data.iowa_liquor_sales.sales`
LIMIT 5

  invoice_and_item_number        date  ... volume_sold_liters volume_sold_gallons
0         INV-37362200037  2021-06-09  ...              60.00               15.85
1         INV-21177600024  2019-08-12  ...               6.00                1.58
2         INV-25272100048  2020-02-17  ...               4.00                1.05
3            S27599300045  2015-08-31  ...              48.00               12.68
4            S21884700116  2014-10-20  ...               5.25                1.39

[5 rows x 24 columns]

Let's ask what the most expensive bottle is in each category.

In [3]:
%%bigquery --project pic-math
SELECT category_name, MAX(state_bottle_retail) as max_state_bottle_retail
FROM `bigquery-public-data.iowa_liquor_sales.sales`
GROUP BY category_name

                           category_name     f0_
0    Imported Distilled Spirit Specialty  342.99
1                        Coffee Liqueurs   39.72
2                             Triple Sec   18.50
3            DISTILLED SPIRITS SPECIALTY  112.01
4                      AMERICAN AMARETTO   27.26
..                                   ...     ...
131   MISC. IMPORTED CORDIALS & LIQUEURS  658.19
132      Temporary  & Specialty Packages   13.11
133              IMPORTED VODKA - CHERRY   10.58
134                    American Whiskies   28.50
135       Delisted / Special Order Items   27.75

[136 rows x 2 columns]

This was not too hard.  Let's me mean though and ask for the second most expensive bottle of "DISTILLED SPIRITS SPECIALTY".  Here is where the sub-query is going to come into play.  We don't want to include the most expensive so instead we remove those from the computation.

In [4]:
%%bigquery --project pic-math

SELECT MAX(state_bottle_retail) as max_state_bottle_retail
FROM `bigquery-public-data.iowa_liquor_sales.sales`
WHERE category_name = "DISTILLED SPIRITS SPECIALTY"

   max_state_bottle_retail
0                   112.01

In [9]:
%%bigquery --project pic-math
SELECT MAX(state_bottle_retail) as max_state_bottle_retail
FROM `bigquery-public-data.iowa_liquor_sales.sales`
WHERE state_bottle_retail != (SELECT MAX(state_bottle_retail) as max_state_bottle_retail FROM `bigquery-public-data.iowa_liquor_sales.sales` WHERE category_name = "DISTILLED SPIRITS SPECIALTY")
      AND category_name = "DISTILLED SPIRITS SPECIALTY"

   max_state_bottle_retail
0                    96.51

BTW, this is not nessecarily the way I would have done this...

Let's try another.  What if we want to find how many bottles in a category are over $100.

In [5]:
%%bigquery --project pic-math

SELECT category_name, COUNTIF(state_bottle_retail>100) as number_bottles_over_benjamin
FROM `bigquery-public-data.iowa_liquor_sales.sales`
GROUP BY category_name
Order BY number_bottles_over_benjamin DESC

                       category_name  number_bottles_over_benjamin
0                    Scotch Whiskies                          4165
1                 Single Malt Scotch                          2769
2                  Imported Brandies                          2704
3                 100% Agave Tequila                          2484
4                    SCOTCH WHISKIES                          2242
..                               ...                           ...
131      American Cordials & Liqueur                             0
132  Temporary  & Specialty Packages                             0
133          IMPORTED VODKA - CHERRY                             0
134   Delisted / Special Order Items                             0
135                American Whiskies                             0

[136 rows x 2 columns]

I think the book I am working from pre-dates `COUNTIF`.  Let me show you a sub-query solution.

I'll make a column asking if the bottle is over $100.

In [6]:
%%bigquery --project pic-math

SELECT *, (CASE WHEN state_bottle_retail >100 THEN 1 ELSE 0 END) as over_benjamin
FROM `bigquery-public-data.iowa_liquor_sales.sales`
LIMIT 10

  invoice_and_item_number        date  ... volume_sold_gallons over_benjamin
0         INV-37362200037  2021-06-09  ...               15.85             0
1         INV-21177600024  2019-08-12  ...                1.58             0
2         INV-25272100048  2020-02-17  ...                1.05             0
3            S27599300045  2015-08-31  ...               12.68             0
4            S21884700116  2014-10-20  ...                1.39             0
5            S14421700098  2013-09-09  ...                1.39             0
6            S20340000138  2014-07-28  ...                0.48             0
7            S27764700008  2015-10-14  ...                1.27             0
8            S03856400071  2012-02-01  ...               15.85             0
9         INV-09755600006  2018-01-11  ...               15.85             0

[10 rows x 25 columns]

The new column is at the end.  I included the `LIMIT` as to reduce computation time for displaying.  I won't use that in the subquery here.

In [10]:
%%bigquery --project pic-math

SELECT category_name, SUM(over_benjamin) as number_bottles_over_benjamin
FROM (SELECT *, (CASE WHEN state_bottle_retail >100 THEN 1 ELSE 0 END) as over_benjamin
      FROM `bigquery-public-data.iowa_liquor_sales.sales`)
GROUP BY category_name
ORDER BY number_bottles_over_benjamin DESC

                       category_name  number_bottles_over_benjamin
0                    Scotch Whiskies                          4165
1                 Single Malt Scotch                          2769
2                  Imported Brandies                          2704
3                 100% Agave Tequila                          2484
4                    SCOTCH WHISKIES                          2242
..                               ...                           ...
131      American Cordials & Liqueur                             0
132  Temporary  & Specialty Packages                             0
133          IMPORTED VODKA - CHERRY                             0
134                American Whiskies                             0
135   Delisted / Special Order Items                             0

[136 rows x 2 columns]

Well not really sure which is faster but you get to see the `CASE` command too for adding a column.  By the way this is sometimes called an indicator variable.  When something happens (bottle over $100) you get 1 and 0 otherwise.  This is an excellent technique that we will revisist again!

Let's add some more.  Let's get the percentage of bottles over a benjamin.

In [11]:
%%bigquery --project pic-math

SELECT category_name, COUNTIF(state_bottle_retail>100) as number_bottles_over_benjamin, COUNT(*) as number_of_bottles
FROM `bigquery-public-data.iowa_liquor_sales.sales`
GROUP BY category_name
Order BY number_bottles_over_benjamin DESC

                      category_name  ...  number_of_bottles
0                   Scotch Whiskies  ...             208608
1                Single Malt Scotch  ...             111449
2                 Imported Brandies  ...             271252
3                100% Agave Tequila  ...             376151
4                   SCOTCH WHISKIES  ...             199770
..                              ...  ...                ...
131         Imported Flavored Vodka  ...             255055
132     American Cordials & Liqueur  ...             309262
133                   Imported Gins  ...                 12
134  Delisted / Special Order Items  ...                  1
135               American Whiskies  ...                  1

[136 rows x 3 columns]

Now I cannot just divide those two columns because they don't exist yet!

In [16]:
%%bigquery --project pic-math

SELECT category_name, number_bottles_over_benjamin, number_of_bottles, number_bottles_over_benjamin/number_of_bottles as percent_over_benjamin
FROM (SELECT category_name, COUNTIF(state_bottle_retail>100) as number_bottles_over_benjamin, COUNT(*) as number_of_bottles
      FROM `bigquery-public-data.iowa_liquor_sales.sales`
      GROUP BY category_name)
GROUP BY category_name, number_bottles_over_benjamin, number_of_bottles
ORDER BY percent_over_benjamin DESC

                      category_name  ...  percent_over_benjamin
0        HIGH PROOF BEER - AMERICAN  ...               1.000000
1                 Imported Whiskies  ...               0.300000
2                   JAPANESE WHISKY  ...               0.108392
3          Iowa Distillery Whiskies  ...               0.064516
4               SCHNAPPS - IMPORTED  ...               0.058824
..                              ...  ...                    ...
131         Imported Flavored Vodka  ...               0.000000
132     American Cordials & Liqueur  ...               0.000000
133         IMPORTED VODKA - CHERRY  ...               0.000000
134  Delisted / Special Order Items  ...               0.000000
135               American Whiskies  ...               0.000000

[136 rows x 4 columns]

I got here and realized this is not really the number of bottles.