<a href="https://colab.research.google.com/github/nurfnick/Data_Viz/blob/main/Content/Data_Collecting/02_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas for Data Analysis

I think rather than getting busy with another scripting langauge, we should buckle down and try to get some `pandas` essentials under our belts.  My goal here is to not load any other library, think I can succeed?

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data',header = None)
head = ['Class','Alcohol','MalicAcid','Ash','AlcalinityAsh','Magnesium','Phenols','Flavanoids','NonflavanoidPhenols','Proanthocyanins','ColorIntensity','Hue','OD280/OD315','Proline'] 
#https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.names more info on the data file than you could ever use!
df.columns = head
df.head()

   Class  Alcohol  MalicAcid   Ash  ...  ColorIntensity   Hue  OD280/OD315  Proline
0      1    14.23       1.71  2.43  ...            5.64  1.04         3.92     1065
1      1    13.20       1.78  2.14  ...            4.38  1.05         3.40     1050
2      1    13.16       2.36  2.67  ...            5.68  1.03         3.17     1185
3      1    14.37       1.95  2.50  ...            7.80  0.86         3.45     1480
4      1    13.24       2.59  2.87  ...            4.32  1.04         2.93      735

[5 rows x 14 columns]

Why do I keep calling my dataset `df`, TRADITION!  No really you might consider using something more descriptive.  You should note that I demanded that the columns have descriptive names because it makes the rest easier but was not nesseccary!

## Basics About Your Data

The first is just the column names but sometimes it can be nice to have that as a list

In [ ]:
df.columns

Index(['Class', 'Alcohol', 'MalicAcid', 'Ash', 'AlcalinityAsh', 'Magnesium',
       'Phenols', 'Flavanoids', 'NonflavanoidPhenols', 'Proanthocyanins',
       'ColorIntensity', 'Hue', 'OD280/OD315', 'Proline'],
      dtype='object')

Size and shape are two excellent resources.  How many entries and how many rows and columns

In [ ]:
print('Size:' ,df.size)
print('Shape', df.shape)

178*14

Size: 2492
Shape (178, 14)

2492

Not sure I'll use this one again but it gives the data types which could be important for us.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Class                178 non-null    int64
 1   Alcohol              178 non-null    float64
 2   MalicAcid            178 non-null    float64
 3   Ash                  178 non-null    float64
 4   AlcalinityAsh        178 non-null    float64
 5   Magnesium            178 non-null    int64
 6   Phenols              178 non-null    float64
 7   Flavanoids           178 non-null    float64
 8   NonflavanoidPhenols  178 non-null    float64
 9   Proanthocyanins      178 non-null    float64
 10  ColorIntensity       178 non-null    float64
 11  Hue                  178 non-null    float64
 12  OD280/OD315          178 non-null    float64
 13  Proline              178 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 19.6 KB

Similarly you can ask how many different values are in each column

In [ ]:
df.nunique()

Class                    3
Alcohol                126
MalicAcid              133
Ash                     79
AlcalinityAsh           63
Magnesium               53
Phenols                 97
Flavanoids             132
NonflavanoidPhenols     39
Proanthocyanins        101
ColorIntensity         132
Hue                     78
OD280/OD315            122
Proline                121
dtype: int64

We saw this one last time and may see it again soon!

In [ ]:
df.describe()

            Class     Alcohol   MalicAcid  ...         Hue  OD280/OD315      Proline
count  178.000000  178.000000  178.000000  ...  178.000000   178.000000   178.000000
mean     1.938202   13.000618    2.336348  ...    0.957449     2.611685   746.893258
std      0.775035    0.811827    1.117146  ...    0.228572     0.709990   314.907474
min      1.000000   11.030000    0.740000  ...    0.480000     1.270000   278.000000
25%      1.000000   12.362500    1.602500  ...    0.782500     1.937500   500.500000
50%      2.000000   13.050000    1.865000  ...    0.965000     2.780000   673.500000
75%      3.000000   13.677500    3.082500  ...    1.120000     3.170000   985.000000
max      3.000000   14.830000    5.800000  ...    1.710000     4.000000  1680.000000

[8 rows x 14 columns]

## Acsessing The Data

The above commands were on the entire dataset but sometimes we might want to consider only a subset.  Let's see some tools for that!

The most straight forward is by column name although it does not work if you have spaces in column names (don't do that!)

In [ ]:
df.Alcohol

0      14.23
1      13.20
2      13.16
3      14.37
4      13.24
       ...
173    13.71
174    13.40
175    13.27
176    13.17
177    14.13
Name: Alcohol, Length: 178, dtype: float64

Or

In [ ]:
df['Alcohol']

0      14.23
1      13.20
2      13.16
3      14.37
4      13.24
       ...
173    13.71
174    13.40
175    13.27
176    13.17
177    14.13
Name: Alcohol, Length: 178, dtype: float64

Or if you want a dataframe still

In [ ]:
df[['Alcohol']]

     Alcohol
0      14.23
1      13.20
2      13.16
3      14.37
4      13.24
..       ...
173    13.71
174    13.40
175    13.27
176    13.17
177    14.13

[178 rows x 1 columns]

If you need multiple columns

In [ ]:
df[['Alcohol','Ash']]

     Alcohol   Ash
0      14.23  2.43
1      13.20  2.14
2      13.16  2.67
3      14.37  2.50
4      13.24  2.87
..       ...   ...
173    13.71  2.45
174    13.40  2.48
175    13.27  2.26
176    13.17  2.37
177    14.13  2.74

[178 rows x 2 columns]

Let's get a little more exotic use `loc` You give it the row and the column.  There are some great tricks here.

In [ ]:
df.loc[:,'Ash']#all
df.loc[1:3,'Ash']#1,2,3
df.loc[[1,5,7],'Ash']#1,5,7

1    2.14
5    2.45
7    2.61
Name: Ash, dtype: float64

You may want to try some of those!

There is also `iloc`.  It is similar but you have to use columns by number not name.

In [ ]:
df.iloc[:-10,3]#last 10 entries still 'Ash'

0      2.43
1      2.14
2      2.67
3      2.50
4      2.87
       ...
163    2.35
164    2.30
165    2.26
166    2.60
167    2.30
Name: Ash, Length: 168, dtype: float64

Lastly, what if we want data by a condition?  `loc` will work for this.

In [ ]:
df.loc[df.Class==1].head()

   Class  Alcohol  MalicAcid   Ash  ...  ColorIntensity   Hue  OD280/OD315  Proline
0      1    14.23       1.71  2.43  ...            5.64  1.04         3.92     1065
1      1    13.20       1.78  2.14  ...            4.38  1.05         3.40     1050
2      1    13.16       2.36  2.67  ...            5.68  1.03         3.17     1185
3      1    14.37       1.95  2.50  ...            7.80  0.86         3.45     1480
4      1    13.24       2.59  2.87  ...            4.32  1.04         2.93      735

[5 rows x 14 columns]

But I like to avoid nesting if I can.  I suggest we use the `query` command.

In [ ]:
df.query('Class ==1').head()#head is just here to limit the output

   Class  Alcohol  MalicAcid   Ash  ...  ColorIntensity   Hue  OD280/OD315  Proline
0      1    14.23       1.71  2.43  ...            5.64  1.04         3.92     1065
1      1    13.20       1.78  2.14  ...            4.38  1.05         3.40     1050
2      1    13.16       2.36  2.67  ...            5.68  1.03         3.17     1185
3      1    14.37       1.95  2.50  ...            7.80  0.86         3.45     1480
4      1    13.24       2.59  2.87  ...            4.32  1.04         2.93      735

[5 rows x 14 columns]

`query` will allow me to combine multiple statements!

In [ ]:
df.query('Class ==1 and Ash >2.8')

    Class  Alcohol  MalicAcid   Ash  ...  ColorIntensity   Hue  OD280/OD315  Proline
4       1    13.24       2.59  2.87  ...            4.32  1.04         2.93      735
25      1    13.05       2.05  3.22  ...            3.58  1.13         3.20      830
36      1    13.28       1.64  2.84  ...            4.60  1.09         2.78      880

[3 rows x 14 columns]

## More Advanced Analysis

The melt command is very powerful and does some nifty things to large datasets quickly!

In [ ]:
df_melt = df.melt(id_vars = 'Class',
                  value_vars = ['Flavanoids','Hue'],
                  var_name = 'colmuns')
df_melt.tail()

     Class colmuns  value
351      3     Hue   0.64
352      3     Hue   0.70
353      3     Hue   0.59
354      3     Hue   0.60
355      3     Hue   0.61

This is the same data as before but now *Flavanoids* and *Hue* are in a column and there values became anothe column.  Why would this help us?  Some time this is referred to as longer data and gives us a way graph (like we saw earlier where I got this code from)

Next is `pivot`.  It would work best on a dataset with multiple categorical variables.  It would take a long table and return a wide table.  I cannot use it here without just undoing what I did above.

In [ ]:
df_melt.pivot(columns = 'colmuns', values = 'value')

colmuns  Flavanoids   Hue
0              3.06   NaN
1              2.76   NaN
2              3.24   NaN
3              3.49   NaN
4              2.69   NaN
..              ...   ...
351             NaN  0.64
352             NaN  0.70
353             NaN  0.59
354             NaN  0.60
355             NaN  0.61

[356 rows x 2 columns]

I actually couldn't undo that because it was not clear which value for *Flavanoids* went with which *Hue*.  If I could have told, I would have give it `index = 'Index'`

`groupby` is excellent!  You need a statistic with it too.

In [ ]:
df.groupby(by = 'Class').mean()

         Alcohol  MalicAcid       Ash  ...       Hue  OD280/OD315      Proline
Class                                  ...
1      13.744746   2.010678  2.455593  ...  1.062034     3.157797  1115.711864
2      12.278732   1.932676  2.244789  ...  1.056282     2.785352   519.507042
3      13.153750   3.333750  2.437083  ...  0.682708     1.683542   629.895833

[3 rows x 13 columns]

You can add to this by using `agg`

In [ ]:
df.groupby(by = 'Class').agg(['mean','median'])

         Alcohol         MalicAcid  ... OD280/OD315      Proline
            mean  median      mean  ...      median         mean  median
Class                               ...
1      13.744746  13.750  2.010678  ...        3.17  1115.711864  1095.0
2      12.278732  12.290  1.932676  ...        2.83   519.507042   495.0
3      13.153750  13.165  3.333750  ...        1.66   629.895833   627.5

[3 rows x 26 columns]

So that is a lot!  You can see there are many actions you can prefrom so it is time for you to try!

## Your Turn

1. Add to your previous document containing the [iris](https://raw.githubusercontent.com/nurfnick/Data_Viz/main/Data_Sets/iris.csv) dataset
2. Get the column names
3. Call a column, find it's mean
4. Find the last row
5. Melt the data keeping two columns of values and the type of flower
6. Select flowers that have pedal length greater than 5 and sepal length less than 7
6. Group the data by type of flower and compute mean and median